*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: "Poppins", sans-serif;
}

body{
    background: linear-gradient(110deg, #E5CCC3, #6047DF);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    width: 350px;
    padding: 30px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.12);
    text-align: center;
}

.container h1{
    font-size: 2rem;
    margin-bottom: 15px;
    font-weight: 600;
}

.container input{
    width: 100%;
    padding: 12px;
    font-size: 1.1rem;
    border-radius: 10px;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    margin-bottom: 15px;
    text-align: center;
    transition: 0.25s;
}

.container input:focus{
    transform: scale(1.03);
}

.container p{
    font-size: 1rem;
    opacity: 0.8;
    margin-bottom: 20px;
}

.container button{
    width: 100%;
    padding: 12px;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 10px;
    border: none;
    background: #6047DF;
    color: #E5CCC3;
    transition: 0.25s;
    margin: 10px;
}

.container button:hover{
    transform: scale(1.05);
    cursor: pointer;
    opacity: .9;
}

#result {
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 10px;
}
